<?xml version="1.0"?>
<robot name="juca_twin">

  <!-- 1. The Physical Body -->
  <link name="base_link">
    <visual>
      <geometry><box size="0.275 0.23 0.1"/></geometry>
      <material name="blue"><color rgba="0 0 1 1"/></material>
    </visual>
    <collision>
      <geometry><box size="0.275 0.23 0.1"/></geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>

  <link name="left_wheel">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.03"/>
      </geometry>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.03"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_wheel_joint" type="fixed"> <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="-0.0725 0.14 -0.05" rpy="0 0 0"/>
  </joint>


  <link name="right_wheel">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.03"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.03"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_wheel_joint" type="fixed"> <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="-0.0725 -0.14 -0.05" rpy="0 0 0"/>
  </joint>


  <link name="caster_wheel">
    <visual>
      <geometry>
        <sphere radius="0.04"/> </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
  </link>

  <joint name="caster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel"/>
    <origin xyz="0.10 0.0 -0.05" rpy="0 0 0"/>
  </joint>

  <!-- 2. Gazebo Specific Settings (Outside the link tag) -->
  <gazebo>
    <plugin
      filename="gz-sim-odometry-publisher-system"
      name="gz::sim::systems::OdometryPublisher">
      <odom_frame>world</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <dimensions>3</dimensions>
    </plugin>
  </gazebo>

</robot>
